/*
body {
  color: green;
}
    */


/*https://www.youtube.com/watch?v=sI2Oe7EkKMI   for the menu bar*/

body {
     background: url(pictures/fuzzy_lights.jpg) no-repeat center center fixed; 
    background-size: cover;
}



